<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %} {% include 'partials/_preamble.html' %} {{ vitecss('global') | safe }}

    <meta name="atlas-version" content="{{ version }}" />
    <meta name="atlas-version-hash" content="{{ versionHash }}" />

    <title>Atlas Initialization Protocol</title>
  </head>
  <body class="h-full m-0 p-0 font-sans bg-slate-900 text-gray-200 leading-relaxed">
    {% include 'partials/_preloader.html' %}

    <div id="atlas-react-root" class="w-full h-full"></div>

    {{ vitejs('__onboarding__') | safe }}
  </body>
</html>
