<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %}
    {% include 'partials/_preamble.html' %}

    {{ vitecss('global') | safe }}
    <title>Planet: {{ planet.name.replace("_", " ") }}</title>
  </head>
  <body class="h-full w-full bg-gradient-to-br from-slate-900 via-purple-900 to-slate-900">
    <!-- React Integration for Planet -->
    <div id="atlas-react-root" class="h-full w-full"></div>

    <!-- Data Scripts for React -->
    <script type="application/json" id="planet-data">
      {{ {
        "name": planet.name,
        "planet_type": planet.planet_type,
        "atmosphere": planet.atmosphere,
        "life_forms": planet.life_forms,
        "mass": planet.mass,
        "diameter": planet.diameter,
        "density": planet.density,
        "gravity": planet.gravity,
        "orbital_radius": planet.orbital_radius,
        "orbital_period_seconds": planet.orbital_period_seconds,
        "orbital_speed": planet.orbital_speed,
        "axial_tilt": planet.axial_tilt,
        "rotation_period_seconds": planet.rotation_period_seconds,
        "surface_temperature": planet.surface_temperature,
        "elements": planet.elements
      } | tojson }}
    </script>

    <script type="application/json" id="system-data">
      {% set planets_list = [] %}
      {% for planet_obj in system.planets.values() %}
        {% set _ = planets_list.append({"name": planet_obj.name}) %}
      {% endfor %}
      {{ {
        "name": system.name,
        "index": system.index,
        "planets": planets_list
      } | tojson }}
    </script>

    <script type="application/json" id="galaxy-data">
      {{ {
        "name": galaxy.name,
        "coordinates": galaxy.coordinates
      } | tojson }}
    </script>

    <script type="application/json" id="meta-data">
      {{ {
        "planet_url": planet_url,
        "version": version,
        "image_url": url_for('planet_blob', planet_name=planet.name)
      } | tojson }}
    </script>

    {{ vitejs('__planet__') | safe }}
  </body>
</html>
