<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %}
    {% include 'partials/_preamble.html' %}

    {{ vitecss('global') | safe }}
    <title>System: {{ system.name.replace("_", " ") }}</title>
  </head>
  <body class="h-full w-full bg-gradient-to-br from-slate-900 via-purple-900 to-slate-900">
    <!-- React Integration for System -->
    <div id="atlas-react-root" class="h-full w-full"></div>

    <!-- Data Scripts for React -->
    <script type="application/json" id="system-data">
      {% set planets_list = [] %}
      {% for planet in system.planets.values() %}
        {% set _ = planets_list.append({"name": planet.name}) %}
      {% endfor %}
      {{ {
        "name": system.name,
        "index": system_index,
        "star_system_type": system.star_system_type,
        "num_planets": system.num_planets,
        "stars": summary['Stars'],
        "planets": planets_list
      } | tojson }}
    </script>

    <script type="application/json" id="galaxy-data">
      {{ {
        "name": galaxy.name,
        "coordinates": galaxy.coordinates
      } | tojson }}
    </script>

    <script type="application/json" id="meta-data">
      {{ {
        "system_url": system_url,
        "version": version,
        "system_index": system_index,
        "image_url": url_for('system_blob'),
        "page": page
      } | tojson }}
    </script>

    {{ vitejs('__system__') | safe }}
  </body>
</html>
