<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %} {% include 'partials/_preamble.html' %} {{ vitecss('global') | safe }}

    <meta name="atlas-version" content="{{ version }}" />
    <meta name="atlas-version-hash" content="{{ versionHash }}" />

    <title>System: {{ system.name.replace("_", " ") }}</title>
  </head>
  <body class="h-full w-full bg-gradient-to-br from-slate-900 via-purple-900 to-slate-900">
    <div id="atlas-react-root" class="h-full w-full"></div>

    <script type="application/json" id="system-data">
      {% set planets_list = [] %}
      {% for planet in system.planets.values() %}
        {% set _ = planets_list.append({
          "name": planet.name,
          "planet_type": planet.planet_type,
          "diameter": planet.diameter,
          "orbital_radius": planet.orbital_radius,
          "orbital_period_seconds": planet.orbital_period_seconds,
          "orbital_speed": planet.orbital_speed,
          "axial_tilt": planet.axial_tilt,
          "rotation_period_seconds": planet.rotation_period_seconds,
          "initial_orbital_angle": planet.initial_orbital_angle,
          "eccentricity_factor": planet.eccentricity_factor,
          "mass": planet.mass
        }) %}
      {% endfor %}
      {{ {
        "name": system.name,
        "index": system_index,
        "star_system_type": system.star_system_type,
        "num_planets": system.num_planets,
        "stars": summary['Stars'],
        "planets": planets_list
      } | tojson }}
    </script>

    <script type="application/json" id="galaxy-data">
      {{ {
        "name": galaxy.name,
        "coordinates": galaxy.coordinates
      } | tojson }}
    </script>

    <script type="application/json" id="meta-data">
      {{ {
        "system_url": system_url,
        "version": version,
        "system_index": system_index,
        "image_url": url_for('system_blob'),
        "page": page,
        "cosmic_origin_time": cosmic_origin_time
      } | tojson }}
    </script>

    {{ vitejs('__system__') | safe }}
  </body>
</html>
